.card {
    transition: .2s;
    max-width: 400px;
    margin-bottom: 25px;
   
    ::ng-deep .mat-primary {
        display: flex;
         margin-left: auto;
    }

}

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }